**Apache Spark**-  an open source analytics engine used for big data workloads and machine learning tasks.  
    - faster than libraries like pandas and can handle larger amounts of data.  
    - can handle both realtime data processing and batch data processing

**pyspark** - Python API for spark - released in order to support the collaboration of Apache Spark and Python
    - while Spark uses scala, pyspark uses python  
    
> *pip install pyspark*

In [1]:
from pyspark.sql import SparkSession

In [ ]:
# SparkSession- an entry point to all functionality in Spark 
# .builder - sets up the session
# .appName - helps to manage multiple sessions
# getOrCreate - retrieves or creates a new session
spark = SparkSession.builder.appName("demo_app").getOrCreate()

In [9]:
df = spark.read.csv("MOCK_DATA.csv", header= True, inferSchema=True)
df.show(5)

+-----------+----------+---------+---+--------------------+-----------+-----------+--------------+-----------------+---------------+
|customer_id|first_name|last_name|age|               email|    country|postal_code|favorite_color|membership_status|account_balance|
+-----------+----------+---------+---+--------------------+-----------+-----------+--------------+-----------------+---------------+
|          1|  Theressa| Iscowitz| 54|tiscowitz0@flavor...|      China|       NULL|           red|         inactive|         865.36|
|          2|    Jillie|  Schurig| 25|jschurig1@twitter...|  Indonesia|       NULL|           red|           active|        3170.18|
|          3|     Joell|  Chardin| 67|    jchardin2@va.gov|      Chile|       NULL|          blue|          pending|        1219.96|
|          4|   Calhoun|     Alti| 38|   calti3@oracle.com|    Finland|      21450|          blue|           active|        2390.57|
|          5|      Nana|  Jeannet| 44|    njeannet4@vk.com|Philippines|       1679|          blue|           active|        4959.34|
+-----------+----------+---------+---+--------------------+-----------+-----------+--------------+-----------------+---------------+
only showing top 5 rows

In [10]:
df.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- email: string (nullable = true)
 |-- country: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- favorite_color: string (nullable = true)
 |-- membership_status: string (nullable = true)
 |-- account_balance: double (nullable = true)

In [11]:
df.columns

['customer_id',
 'first_name',
 'last_name',
 'age',
 'email',
 'country',
 'postal_code',
 'favorite_color',
 'membership_status',
 'account_balance']

In [12]:
df.dtypes

[('customer_id', 'int'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('age', 'int'),
 ('email', 'string'),
 ('country', 'string'),
 ('postal_code', 'string'),
 ('favorite_color', 'string'),
 ('membership_status', 'string'),
 ('account_balance', 'double')]

In [15]:
name = df.select("first_name").show()
name

+----------+
|first_name|
+----------+
|  Theressa|
|    Jillie|
|     Joell|
|   Calhoun|
|      Nana|
|   Bettine|
|      Tedd|
|      Gina|
|   Glendon|
|    Robbyn|
|      Erek|
|    Nestor|
|     Wylma|
|    Miriam|
|     Lorna|
|    Linell|
|      Roxi|
|     Halli|
|   Trenton|
|    Susann|
+----------+
only showing top 20 rows

In [16]:
names =df.select(["first_name", "last_name"]).show()
names

+----------+-----------+
|first_name|  last_name|
+----------+-----------+
|  Theressa|   Iscowitz|
|    Jillie|    Schurig|
|     Joell|    Chardin|
|   Calhoun|       Alti|
|      Nana|    Jeannet|
|   Bettine|    Crysell|
|      Tedd|    Hamsson|
|      Gina|     Conway|
|   Glendon|    Manuaud|
|    Robbyn|    Kneesha|
|      Erek|     Butlin|
|    Nestor|     Strain|
|     Wylma|    Pearson|
|    Miriam|    Qualtro|
|     Lorna|Francesconi|
|    Linell|      Natte|
|      Roxi|     Klampt|
|     Halli|    Marczyk|
|   Trenton|    Probbin|
|    Susann| Le Strange|
+----------+-----------+
only showing top 20 rows

In [18]:
df.describe().show()

25/06/03 20:30:29 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-----------------+----------+------------+-----------------+--------------------+-----------+------------------+--------------+-----------------+------------------+
|summary|      customer_id|first_name|   last_name|              age|               email|    country|       postal_code|favorite_color|membership_status|   account_balance|
+-------+-----------------+----------+------------+-----------------+--------------------+-----------+------------------+--------------+-----------------+------------------+
|  count|             1000|      1000|        1000|             1000|                1000|       1000|               434|          1000|             1000|              1000|
|   mean|            500.5|      NULL|        NULL|           51.416|                NULL|       NULL|132730.57939914163|          NULL|             NULL| 4964.655490000004|
| stddev|288.8194360957494|      NULL|        NULL|19.01342826673966|                NULL|       NULL|196779.76146665608|          NULL|             NULL|2928.4099963731555|
|    min|                1|     Abdel|        Abad|               18|aaichesonbr@tumbl...|Afghanistan|            00-458|          blue|           active|              0.88|
|    max|             1000|      Zola|des Remedios|               85|zshowersio@privac...|   Zimbabwe|               ZTN|           red|          pending|           9996.96|
+-------+-----------------+----------+------------+-----------------+--------------------+-----------+------------------+--------------+-----------------+------------------+

In [19]:
df.count()

1000

In [23]:
new_df = df.drop('favorite_color')
new_df.show(5)

+-----------+----------+---------+---+--------------------+-----------+-----------+-----------------+---------------+
|customer_id|first_name|last_name|age|               email|    country|postal_code|membership_status|account_balance|
+-----------+----------+---------+---+--------------------+-----------+-----------+-----------------+---------------+
|          1|  Theressa| Iscowitz| 54|tiscowitz0@flavor...|      China|       NULL|         inactive|         865.36|
|          2|    Jillie|  Schurig| 25|jschurig1@twitter...|  Indonesia|       NULL|           active|        3170.18|
|          3|     Joell|  Chardin| 67|    jchardin2@va.gov|      Chile|       NULL|          pending|        1219.96|
|          4|   Calhoun|     Alti| 38|   calti3@oracle.com|    Finland|      21450|           active|        2390.57|
|          5|      Nana|  Jeannet| 44|    njeannet4@vk.com|Philippines|       1679|           active|        4959.34|
+-----------+----------+---------+---+--------------------+-----------+-----------+-----------------+---------------+
only showing top 5 rows

### JSON

In [30]:
data_2 = spark.read.json("MOCK_DATA.json")
data_2.show(3)

+--------------------+---------------+----+-------+-----------+-----------------+--------------+----------+---------+-----------------+-------------+
|     _corrupt_record|account_balance| age|country|customer_id|            email|favorite_color|first_name|last_name|membership_status|  postal_code|
+--------------------+---------------+----+-------+-----------+-----------------+--------------+----------+---------+-----------------+-------------+
|[{"customer_id":1...|           NULL|NULL|   NULL|       NULL|             NULL|          NULL|      NULL|     NULL|             NULL|         NULL|
|                NULL|         616.75|  60| Greece|          2|jhabbema1@epa.gov|          blue| Johnathan|  Habbema|         inactive|         NULL|
|                NULL|        2800.91|  81| France|          3| amcpake2@mail.ru|          blue|      Audy|  Mc Pake|          pending|79083 CEDEX 9|
+--------------------+---------------+----+-------+-----------+-----------------+--------------+----------+---------+-----------------+-------------+
only showing top 3 rows

In [29]:
data_2.columns

['_corrupt_record',
 'account_balance',
 'age',
 'country',
 'customer_id',
 'email',
 'favorite_color',
 'first_name',
 'last_name',
 'membership_status',
 'postal_code']

In [32]:
data_2.describe().show()

+-------+--------------------+------------------+------------------+-----------+-----------------+--------------------+--------------+----------+---------+-----------------+------------------+
|summary|     _corrupt_record|   account_balance|               age|    country|      customer_id|               email|favorite_color|first_name|last_name|membership_status|       postal_code|
+-------+--------------------+------------------+------------------+-----------+-----------------+--------------------+--------------+----------+---------+-----------------+------------------+
|  count|                   1|               999|               999|        999|              999|                 999|           999|       999|      999|              999|               472|
|   mean|                NULL| 4959.894064064061|50.068068068068065|       NULL|            501.0|                NULL|          NULL|       NaN|     NULL|             NULL| 104815.8315018315|
| stddev|                NULL|2908.5257950515174|19.607250186886304|       NULL|288.5307609250702|                NULL|          NULL|      NULL|     NULL|             NULL|167915.30319744715|
|    min|[{"customer_id":1...|              1.95|                18|Afghanistan|                2|aaleswellju@archi...|          blue|   Abagael|    Abdie|           active|            05-319|
|    max|[{"customer_id":1...|           9986.73|                85|   Zimbabwe|             1000|zseiffert8w@weath...|           red|    Zulema| de Banke|          pending|               V9B|
+-------+--------------------+------------------+------------------+-----------+-----------------+--------------------+--------------+----------+---------+-----------------+------------------+

In [34]:
new_data = data_2.drop("_corrupt_record")
new_data.show(3)

+---------------+----+-------+-----------+-----------------+--------------+----------+---------+-----------------+-------------+
|account_balance| age|country|customer_id|            email|favorite_color|first_name|last_name|membership_status|  postal_code|
+---------------+----+-------+-----------+-----------------+--------------+----------+---------+-----------------+-------------+
|           NULL|NULL|   NULL|       NULL|             NULL|          NULL|      NULL|     NULL|             NULL|         NULL|
|         616.75|  60| Greece|          2|jhabbema1@epa.gov|          blue| Johnathan|  Habbema|         inactive|         NULL|
|        2800.91|  81| France|          3| amcpake2@mail.ru|          blue|      Audy|  Mc Pake|          pending|79083 CEDEX 9|
+---------------+----+-------+-----------+-----------------+--------------+----------+---------+-----------------+-------------+
only showing top 3 rows

In [36]:
new_data.filter(new_data["age"] > 30).show()

+---------------+---+-------------+-----------+--------------------+--------------+----------+----------+-----------------+-------------+
|account_balance|age|      country|customer_id|               email|favorite_color|first_name| last_name|membership_status|  postal_code|
+---------------+---+-------------+-----------+--------------------+--------------+----------+----------+-----------------+-------------+
|         616.75| 60|       Greece|          2|   jhabbema1@epa.gov|          blue| Johnathan|   Habbema|         inactive|         NULL|
|        2800.91| 81|       France|          3|    amcpake2@mail.ru|          blue|      Audy|   Mc Pake|          pending|79083 CEDEX 9|
|         380.07| 39|    Indonesia|          4|ckulicke3@forbes.com|          blue| Courtenay|   Kulicke|           active|         NULL|
|        5309.48| 50|    Indonesia|          5|vrunnett4@shutter...|           red|     Velma|   Runnett|          pending|         NULL|
|         399.01| 66|        China|          6|wbatie5@simplemac...|         green|    Wallie|     Batie|         inactive|         NULL|
|         3914.5| 75|        China|         13|mleppingtonc@thea...|           red|      Merv|Leppington|          pending|         NULL|
|        3967.59| 41|      Denmark|         14|dmaccrackend@abou...|         green|    Daphna|MacCracken|           active|         1470|
|        4000.28| 37|      Ukraine|         15|   nreynarde@hud.gov|         green|     Nolie|   Reynard|          pending|         NULL|
|         710.34| 50|   Kazakhstan|         16|dmccrossanf@youtu...|           red|  Dominick| McCrossan|          pending|         NULL|
|        5730.56| 78|       Sweden|         17|sdawidowskyg@tutt...|         green|    Skelly|Dawidowsky|           active|       815 36|
|        5518.79| 55|        China|         18|      emorebyh@is.gd|           red|      Ewan|    Moreby|          pending|         NULL|
|        6228.96| 52|United States|         20|ccabottoj@hatena....|          blue|     Chris|   Cabotto|           active|        77085|
|        7867.53| 44|  Philippines|         22|owoodl@ezineartic...|         green|   Othilie|      Wood|         inactive|         7025|
|        7059.28| 48|  New Zealand|         23|caubrunm@blogspot...|           red|    Carina|    Aubrun|           active|         7600|
|        3737.02| 85|  Philippines|         26|jboyackp@google.c...|         green|   Jillian|    Boyack|         inactive|         2712|
|        7726.94| 38|        China|         27| mheusticeq@noaa.gov|          blue|    Merell|  Heustice|         inactive|         NULL|
|        6650.85| 71|        Kenya|         28|anormingtonr@nbcn...|         green|    Andrew|Normington|           active|         NULL|
|        9014.77| 69|     Thailand|         30|  aeyamt@twitter.com|          blue| Armstrong|      Eyam|          pending|        93120|
|        9404.29| 37|       Poland|         31|gfetherbyu@people...|           red|    Goldie|  Fetherby|           active|       47-150|
|        3011.54| 37|  Philippines|         32|dainsleev@dagonde...|         green|    Daphne|   Ainslee|          pending|         2703|
+---------------+---+-------------+-----------+--------------------+--------------+----------+----------+-----------------+-------------+
only showing top 20 rows

In [39]:
new_data.groupBy("country").count().show()

+-----------+-----+
|    country|count|
+-----------+-----+
|   Paraguay|    4|
|     Russia|   57|
|      Yemen|    6|
|     Sweden|   25|
|Philippines|   58|
|   Malaysia|    7|
|     Malawi|    3|
|    Germany|    2|
|    Comoros|    2|
|Afghanistan|    1|
|Ivory Coast|    2|
|     Jordan|    2|
|     France|   34|
|     Greece|   12|
|  Sri Lanka|    1|
|       NULL|    1|
|  Argentina|   11|
|     Angola|    1|
|    Belgium|    1|
| East Timor|    1|
+-----------+-----+
only showing top 20 rows

In [ ]:
n